@mixin hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
@mixin pseudo-absolute {
  content: "";
  position: absolute;
}
@mixin body-bg {
  background: #fdfdfd;
  border: 1px solid $stroke-color;
  @include border-radius($border-big);
  @include single-box-shadow(rgba(black, 0.1), 0, 0, 84px, 0, true);  
  padding: 40px;
}
@mixin globe {
  @include pseudo-absolute;
  background: url(../images/globe.png);
  width: 390px;
  height: 342px;
}