/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";
@import "boilerplate";
@import "mixins";

$white: white;
$book: 300;
$bold: 800;
$secondary-color: #7a7eb4;
$text-color: #4a4a4a;

// Structure 
// =================================

body {
  background: $white;
  font-family: "proxima-nova", "Helvetica Neue", Arial, sans-serif;  
  color: $text-color;
  font-weight: $book;
}

.container {
  width: 940px;
  margin: 0 auto;
}
#feature.container {
  width: 970px;
  padding: 40px;
  margin: 0 auto;
  background: #fdfdfd;
  border: 1px solid #e0dbd8;
  @include border-radius(10px);
  @include single-box-shadow(rgba(black, 0.1), 0, 0, 84px, 0, true);
  font-size: 20px;

}

// Typography  
// =================================

h1, h2, h3, h4, h5, h6 {
  font-weight: $bold;
  color: $secondary-color; 
}
h2 {
  margin-bottom: 30px;
}
ul {
  list-style: disc;
  margin-left: 20px;
  padding-left: 20px;
  margin-bottom: 1.3em;
  li {
    margin-bottom: 0.7em;
  }
}
a {
  text-decoration: none;
}

// Generic  
// =================================

.button {
  color: $white;
  font-weight: $bold;
  @include background-image(linear-gradient(#92d26a, #80cb51 5%, #54af46));
  @include border-radius(5px);
  border: 1px solid #7ab756;
  @include text-shadow(rgba(black, 0.4) 0 1px 1px);
  display: inline-block;
  &:hover {
    @include background-image(linear-gradient(#92d26a, #80cb51));
  };
  &.big {
    font-size: 20px;
    padding: 15px 50px;
  }
}


// Homepage  
// =================================

body.home {
  h1 {
    background: url(/images/h1.png);
    width: 298px;
    height: 42px;
    margin: 35px auto;
    @include hide-text;
  }
  h2 {
    font-size: 46px;
    line-height: 48px;
  }
  #feature {
    width: 530px;
    position: relative;
    padding-left: 470px;
    padding-bottom: 80px;
    &:before {
      content: "";
      position: absolute;
      background: url(/images/globe.png);
      width: 390px;
      height: 342px;
      left: 50px;
      top: 40px;
    }
  }
}



@import "media-queries";
@import "helper";
@import "print";
