/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */
/* line 9, ../sass/_boilerplate.scss */
html,
button,
input,
select,
textarea {
  color: #222;
}

/* line 13, ../sass/_boilerplate.scss */
body {
  font-size: 1em;
  line-height: 1.4;
}

/* line 18, ../sass/_boilerplate.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 23, ../sass/_boilerplate.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 28, ../sass/_boilerplate.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 37, ../sass/_boilerplate.scss */
img {
  vertical-align: middle;
}

/* line 41, ../sass/_boilerplate.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 47, ../sass/_boilerplate.scss */
textarea {
  resize: vertical;
}

/* line 51, ../sass/_boilerplate.scss */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* line 1, ../sass/_bootstrap-forms.scss */
form {
  margin: 0 0 20px;
}

/* line 5, ../sass/_bootstrap-forms.scss */
fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

/* line 11, ../sass/_bootstrap-forms.scss */
legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 40px;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}

/* line 23, ../sass/_bootstrap-forms.scss */
legend small {
  font-size: 15px;
  color: #999999;
}

/* line 32, ../sass/_bootstrap-forms.scss */
label,
input,
button,
select,
textarea {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
}

/* line 41, ../sass/_bootstrap-forms.scss */
input,
button,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 45, ../sass/_bootstrap-forms.scss */
label {
  display: block;
  margin-bottom: 5px;
}

/* line 66, ../sass/_bootstrap-forms.scss */
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  display: inline-block;
  height: 20px;
  padding: 4px 6px;
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 20px;
  color: #555555;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/* line 81, ../sass/_bootstrap-forms.scss */
input,
textarea,
.uneditable-input {
  width: 206px;
}

/* line 85, ../sass/_bootstrap-forms.scss */
textarea {
  height: auto;
}

/* line 104, ../sass/_bootstrap-forms.scss */
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}

/* line 131, ../sass/_bootstrap-forms.scss */
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

/* line 143, ../sass/_bootstrap-forms.scss */
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  *margin-top: 0;
  line-height: normal;
  cursor: pointer;
}

/* line 157, ../sass/_bootstrap-forms.scss */
input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto;
}

/* line 162, ../sass/_bootstrap-forms.scss */
select,
input[type="file"] {
  height: 30px;
  /* In IE7, the height of the select element cannot be changed by height, only font-size */
  *margin-top: 4px;
  /* For IE7, add top margin to align select with labels */
  line-height: 30px;
}

/* line 172, ../sass/_bootstrap-forms.scss */
select {
  width: 220px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
}

/* line 179, ../sass/_bootstrap-forms.scss */
select[multiple],
select[size] {
  height: auto;
}

/* line 186, ../sass/_bootstrap-forms.scss */
select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

/* line 193, ../sass/_bootstrap-forms.scss */
.uneditable-input,
.uneditable-textarea {
  color: #999999;
  cursor: not-allowed;
  background-color: #fcfcfc;
  border-color: #cccccc;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
}

/* line 203, ../sass/_bootstrap-forms.scss */
.uneditable-input {
  overflow: hidden;
  white-space: nowrap;
}

/* line 208, ../sass/_bootstrap-forms.scss */
.uneditable-textarea {
  width: auto;
  height: auto;
}

/* line 214, ../sass/_bootstrap-forms.scss */
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #999999;
}

/* line 219, ../sass/_bootstrap-forms.scss */
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #999999;
}

/* line 224, ../sass/_bootstrap-forms.scss */
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #999999;
}

/* line 229, ../sass/_bootstrap-forms.scss */
.radio,
.checkbox {
  min-height: 18px;
  padding-left: 18px;
}

/* line 235, ../sass/_bootstrap-forms.scss */
.radio input[type="radio"],
.checkbox input[type="checkbox"] {
  float: left;
  margin-left: -18px;
}

/* line 241, ../sass/_bootstrap-forms.scss */
.controls > .radio:first-child,
.controls > .checkbox:first-child {
  padding-top: 5px;
}

/* line 246, ../sass/_bootstrap-forms.scss */
.radio.inline,
.checkbox.inline {
  display: inline-block;
  padding-top: 5px;
  margin-bottom: 0;
  vertical-align: middle;
}

/* line 254, ../sass/_bootstrap-forms.scss */
.radio.inline + .radio.inline,
.checkbox.inline + .checkbox.inline {
  margin-left: 10px;
}

/* line 258, ../sass/_bootstrap-forms.scss */
.input-mini {
  width: 60px;
}

/* line 262, ../sass/_bootstrap-forms.scss */
.input-small {
  width: 90px;
}

/* line 266, ../sass/_bootstrap-forms.scss */
.input-medium {
  width: 150px;
}

/* line 270, ../sass/_bootstrap-forms.scss */
.input-large {
  width: 210px;
}

/* line 274, ../sass/_bootstrap-forms.scss */
.input-xlarge {
  width: 270px;
}

/* line 278, ../sass/_bootstrap-forms.scss */
.input-xxlarge {
  width: 530px;
}

/* line 289, ../sass/_bootstrap-forms.scss */
input[class*="span"],
select[class*="span"],
textarea[class*="span"],
.uneditable-input[class*="span"],
.row-fluid input[class*="span"],
.row-fluid select[class*="span"],
.row-fluid textarea[class*="span"],
.row-fluid .uneditable-input[class*="span"] {
  float: none;
  margin-left: 0;
}

/* line 303, ../sass/_bootstrap-forms.scss */
.input-append input[class*="span"],
.input-append .uneditable-input[class*="span"],
.input-prepend input[class*="span"],
.input-prepend .uneditable-input[class*="span"],
.row-fluid input[class*="span"],
.row-fluid select[class*="span"],
.row-fluid textarea[class*="span"],
.row-fluid .uneditable-input[class*="span"],
.row-fluid .input-prepend [class*="span"],
.row-fluid .input-append [class*="span"] {
  display: inline-block;
}

/* line 309, ../sass/_bootstrap-forms.scss */
input,
textarea,
.uneditable-input {
  margin-left: 0;
}

/* line 313, ../sass/_bootstrap-forms.scss */
.controls-row [class*="span"] + [class*="span"] {
  margin-left: 20px;
}

/* line 319, ../sass/_bootstrap-forms.scss */
input.span12,
textarea.span12,
.uneditable-input.span12 {
  width: 926px;
}

/* line 325, ../sass/_bootstrap-forms.scss */
input.span11,
textarea.span11,
.uneditable-input.span11 {
  width: 846px;
}

/* line 331, ../sass/_bootstrap-forms.scss */
input.span10,
textarea.span10,
.uneditable-input.span10 {
  width: 766px;
}

/* line 337, ../sass/_bootstrap-forms.scss */
input.span9,
textarea.span9,
.uneditable-input.span9 {
  width: 686px;
}

/* line 343, ../sass/_bootstrap-forms.scss */
input.span8,
textarea.span8,
.uneditable-input.span8 {
  width: 606px;
}

/* line 349, ../sass/_bootstrap-forms.scss */
input.span7,
textarea.span7,
.uneditable-input.span7 {
  width: 526px;
}

/* line 355, ../sass/_bootstrap-forms.scss */
input.span6,
textarea.span6,
.uneditable-input.span6 {
  width: 446px;
}

/* line 361, ../sass/_bootstrap-forms.scss */
input.span5,
textarea.span5,
.uneditable-input.span5 {
  width: 366px;
}

/* line 367, ../sass/_bootstrap-forms.scss */
input.span4,
textarea.span4,
.uneditable-input.span4 {
  width: 286px;
}

/* line 373, ../sass/_bootstrap-forms.scss */
input.span3,
textarea.span3,
.uneditable-input.span3 {
  width: 206px;
}

/* line 379, ../sass/_bootstrap-forms.scss */
input.span2,
textarea.span2,
.uneditable-input.span2 {
  width: 126px;
}

/* line 385, ../sass/_bootstrap-forms.scss */
input.span1,
textarea.span1,
.uneditable-input.span1 {
  width: 46px;
}

/* line 389, ../sass/_bootstrap-forms.scss */
.controls-row {
  *zoom: 1;
}

/* line 394, ../sass/_bootstrap-forms.scss */
.controls-row:before,
.controls-row:after {
  display: table;
  line-height: 0;
  content: "";
}

/* line 400, ../sass/_bootstrap-forms.scss */
.controls-row:after {
  clear: both;
}

/* line 404, ../sass/_bootstrap-forms.scss */
.controls-row [class*="span"] {
  float: left;
}

/* line 413, ../sass/_bootstrap-forms.scss */
input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  cursor: not-allowed;
  background-color: #eeeeee;
}

/* line 421, ../sass/_bootstrap-forms.scss */
input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"][readonly],
input[type="checkbox"][readonly] {
  background-color: transparent;
}

/* line 427, ../sass/_bootstrap-forms.scss */
.control-group.warning > label,
.control-group.warning .help-block,
.control-group.warning .help-inline {
  color: #c09853;
}

/* line 435, ../sass/_bootstrap-forms.scss */
.control-group.warning .checkbox,
.control-group.warning .radio,
.control-group.warning input,
.control-group.warning select,
.control-group.warning textarea {
  color: #c09853;
}

/* line 441, ../sass/_bootstrap-forms.scss */
.control-group.warning input,
.control-group.warning select,
.control-group.warning textarea {
  border-color: #c09853;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

/* line 450, ../sass/_bootstrap-forms.scss */
.control-group.warning input:focus,
.control-group.warning select:focus,
.control-group.warning textarea:focus {
  border-color: #a47e3c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e;
}

/* line 458, ../sass/_bootstrap-forms.scss */
.control-group.warning .input-prepend .add-on,
.control-group.warning .input-append .add-on {
  color: #c09853;
  background-color: #fcf8e3;
  border-color: #c09853;
}

/* line 466, ../sass/_bootstrap-forms.scss */
.control-group.error > label,
.control-group.error .help-block,
.control-group.error .help-inline {
  color: #b94a48;
}

/* line 474, ../sass/_bootstrap-forms.scss */
.control-group.error .checkbox,
.control-group.error .radio,
.control-group.error input,
.control-group.error select,
.control-group.error textarea {
  color: #b94a48;
}

/* line 480, ../sass/_bootstrap-forms.scss */
.control-group.error input,
.control-group.error select,
.control-group.error textarea {
  border-color: #b94a48;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

/* line 489, ../sass/_bootstrap-forms.scss */
.control-group.error input:focus,
.control-group.error select:focus,
.control-group.error textarea:focus {
  border-color: #953b39;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
}

/* line 497, ../sass/_bootstrap-forms.scss */
.control-group.error .input-prepend .add-on,
.control-group.error .input-append .add-on {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #b94a48;
}

/* line 505, ../sass/_bootstrap-forms.scss */
.control-group.success > label,
.control-group.success .help-block,
.control-group.success .help-inline {
  color: #468847;
}

/* line 513, ../sass/_bootstrap-forms.scss */
.control-group.success .checkbox,
.control-group.success .radio,
.control-group.success input,
.control-group.success select,
.control-group.success textarea {
  color: #468847;
}

/* line 519, ../sass/_bootstrap-forms.scss */
.control-group.success input,
.control-group.success select,
.control-group.success textarea {
  border-color: #468847;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

/* line 528, ../sass/_bootstrap-forms.scss */
.control-group.success input:focus,
.control-group.success select:focus,
.control-group.success textarea:focus {
  border-color: #356635;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
}

/* line 536, ../sass/_bootstrap-forms.scss */
.control-group.success .input-prepend .add-on,
.control-group.success .input-append .add-on {
  color: #468847;
  background-color: #dff0d8;
  border-color: #468847;
}

/* line 544, ../sass/_bootstrap-forms.scss */
.control-group.info > label,
.control-group.info .help-block,
.control-group.info .help-inline {
  color: #3a87ad;
}

/* line 552, ../sass/_bootstrap-forms.scss */
.control-group.info .checkbox,
.control-group.info .radio,
.control-group.info input,
.control-group.info select,
.control-group.info textarea {
  color: #3a87ad;
}

/* line 558, ../sass/_bootstrap-forms.scss */
.control-group.info input,
.control-group.info select,
.control-group.info textarea {
  border-color: #3a87ad;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

/* line 567, ../sass/_bootstrap-forms.scss */
.control-group.info input:focus,
.control-group.info select:focus,
.control-group.info textarea:focus {
  border-color: #2d6987;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;
}

/* line 575, ../sass/_bootstrap-forms.scss */
.control-group.info .input-prepend .add-on,
.control-group.info .input-append .add-on {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #3a87ad;
}

/* line 583, ../sass/_bootstrap-forms.scss */
input:focus:required:invalid,
textarea:focus:required:invalid,
select:focus:required:invalid {
  color: #b94a48;
  border-color: #ee5f5b;
}

/* line 590, ../sass/_bootstrap-forms.scss */
input:focus:required:invalid:focus,
textarea:focus:required:invalid:focus,
select:focus:required:invalid:focus {
  border-color: #e9322d;
  -webkit-box-shadow: 0 0 6px #f8b9b7;
  -moz-box-shadow: 0 0 6px #f8b9b7;
  box-shadow: 0 0 6px #f8b9b7;
}

/* line 597, ../sass/_bootstrap-forms.scss */
.form-actions {
  padding: 19px 20px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border-top: 1px solid #e5e5e5;
  *zoom: 1;
}

/* line 607, ../sass/_bootstrap-forms.scss */
.form-actions:before,
.form-actions:after {
  display: table;
  line-height: 0;
  content: "";
}

/* line 613, ../sass/_bootstrap-forms.scss */
.form-actions:after {
  clear: both;
}

/* line 618, ../sass/_bootstrap-forms.scss */
.help-block,
.help-inline {
  color: #595959;
}

/* line 622, ../sass/_bootstrap-forms.scss */
.help-block {
  display: block;
  margin-bottom: 10px;
}

/* line 627, ../sass/_bootstrap-forms.scss */
.help-inline {
  display: inline-block;
  *display: inline;
  padding-left: 5px;
  vertical-align: middle;
  *zoom: 1;
}

/* line 636, ../sass/_bootstrap-forms.scss */
.input-append,
.input-prepend {
  margin-bottom: 5px;
  font-size: 0;
  white-space: nowrap;
}

/* line 647, ../sass/_bootstrap-forms.scss */
.input-append input,
.input-prepend input,
.input-append select,
.input-prepend select,
.input-append .uneditable-input,
.input-prepend .uneditable-input {
  position: relative;
  margin-bottom: 0;
  *margin-left: 0;
  font-size: 14px;
  vertical-align: top;
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}

/* line 663, ../sass/_bootstrap-forms.scss */
.input-append input:focus,
.input-prepend input:focus,
.input-append select:focus,
.input-prepend select:focus,
.input-append .uneditable-input:focus,
.input-prepend .uneditable-input:focus {
  z-index: 2;
}

/* line 668, ../sass/_bootstrap-forms.scss */
.input-append .add-on,
.input-prepend .add-on {
  display: inline-block;
  width: auto;
  height: 20px;
  min-width: 16px;
  padding: 4px 5px;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  text-align: center;
  text-shadow: 0 1px 0 #ffffff;
  background-color: #eeeeee;
  border: 1px solid #ccc;
}

/* line 686, ../sass/_bootstrap-forms.scss */
.input-append .add-on,
.input-prepend .add-on,
.input-append .btn,
.input-prepend .btn {
  vertical-align: top;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

/* line 694, ../sass/_bootstrap-forms.scss */
.input-append .active,
.input-prepend .active {
  background-color: #a9dba9;
  border-color: #46a546;
}

/* line 700, ../sass/_bootstrap-forms.scss */
.input-prepend .add-on,
.input-prepend .btn {
  margin-right: -1px;
}

/* line 705, ../sass/_bootstrap-forms.scss */
.input-prepend .add-on:first-child,
.input-prepend .btn:first-child {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}

/* line 713, ../sass/_bootstrap-forms.scss */
.input-append input,
.input-append select,
.input-append .uneditable-input {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}

/* line 720, ../sass/_bootstrap-forms.scss */
.input-append .add-on,
.input-append .btn {
  margin-left: -1px;
}

/* line 725, ../sass/_bootstrap-forms.scss */
.input-append .add-on:last-child,
.input-append .btn:last-child {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}

/* line 733, ../sass/_bootstrap-forms.scss */
.input-prepend.input-append input,
.input-prepend.input-append select,
.input-prepend.input-append .uneditable-input {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

/* line 740, ../sass/_bootstrap-forms.scss */
.input-prepend.input-append .add-on:first-child,
.input-prepend.input-append .btn:first-child {
  margin-right: -1px;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}

/* line 748, ../sass/_bootstrap-forms.scss */
.input-prepend.input-append .add-on:last-child,
.input-prepend.input-append .btn:last-child {
  margin-left: -1px;
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}

/* line 755, ../sass/_bootstrap-forms.scss */
input.search-query {
  padding-right: 14px;
  padding-right: 4px \9;
  padding-left: 14px;
  padding-left: 4px \9;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */
  margin-bottom: 0;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

/* Allow for input prepend/append in search forms */
/* line 771, ../sass/_bootstrap-forms.scss */
.form-search .input-append .search-query,
.form-search .input-prepend .search-query {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

/* line 777, ../sass/_bootstrap-forms.scss */
.form-search .input-append .search-query {
  -webkit-border-radius: 14px 0 0 14px;
  -moz-border-radius: 14px 0 0 14px;
  border-radius: 14px 0 0 14px;
}

/* line 783, ../sass/_bootstrap-forms.scss */
.form-search .input-append .btn {
  -webkit-border-radius: 0 14px 14px 0;
  -moz-border-radius: 0 14px 14px 0;
  border-radius: 0 14px 14px 0;
}

/* line 789, ../sass/_bootstrap-forms.scss */
.form-search .input-prepend .search-query {
  -webkit-border-radius: 0 14px 14px 0;
  -moz-border-radius: 0 14px 14px 0;
  border-radius: 0 14px 14px 0;
}

/* line 795, ../sass/_bootstrap-forms.scss */
.form-search .input-prepend .btn {
  -webkit-border-radius: 14px 0 0 14px;
  -moz-border-radius: 14px 0 0 14px;
  border-radius: 14px 0 0 14px;
}

/* line 821, ../sass/_bootstrap-forms.scss */
.form-search input,
.form-inline input,
.form-horizontal input,
.form-search textarea,
.form-inline textarea,
.form-horizontal textarea,
.form-search select,
.form-inline select,
.form-horizontal select,
.form-search .help-inline,
.form-inline .help-inline,
.form-horizontal .help-inline,
.form-search .uneditable-input,
.form-inline .uneditable-input,
.form-horizontal .uneditable-input,
.form-search .input-prepend,
.form-inline .input-prepend,
.form-horizontal .input-prepend,
.form-search .input-append,
.form-inline .input-append,
.form-horizontal .input-append {
  display: inline-block;
  *display: inline;
  margin-bottom: 0;
  vertical-align: middle;
  *zoom: 1;
}

/* line 831, ../sass/_bootstrap-forms.scss */
.form-search .hide,
.form-inline .hide,
.form-horizontal .hide {
  display: none;
}

/* line 838, ../sass/_bootstrap-forms.scss */
.form-search label,
.form-inline label,
.form-search .btn-group,
.form-inline .btn-group {
  display: inline-block;
}

/* line 845, ../sass/_bootstrap-forms.scss */
.form-search .input-append,
.form-inline .input-append,
.form-search .input-prepend,
.form-inline .input-prepend {
  margin-bottom: 0;
}

/* line 852, ../sass/_bootstrap-forms.scss */
.form-search .radio,
.form-search .checkbox,
.form-inline .radio,
.form-inline .checkbox {
  padding-left: 0;
  margin-bottom: 0;
  vertical-align: middle;
}

/* line 861, ../sass/_bootstrap-forms.scss */
.form-search .radio input[type="radio"],
.form-search .checkbox input[type="checkbox"],
.form-inline .radio input[type="radio"],
.form-inline .checkbox input[type="checkbox"] {
  float: left;
  margin-right: 3px;
  margin-left: 0;
}

/* line 867, ../sass/_bootstrap-forms.scss */
.control-group {
  margin-bottom: 10px;
}

/* line 871, ../sass/_bootstrap-forms.scss */
legend + .control-group {
  margin-top: 20px;
  -webkit-margin-top-collapse: separate;
}

/* line 876, ../sass/_bootstrap-forms.scss */
.form-horizontal .control-group {
  margin-bottom: 20px;
  *zoom: 1;
}

/* line 882, ../sass/_bootstrap-forms.scss */
.form-horizontal .control-group:before,
.form-horizontal .control-group:after {
  display: table;
  line-height: 0;
  content: "";
}

/* line 888, ../sass/_bootstrap-forms.scss */
.form-horizontal .control-group:after {
  clear: both;
}

/* line 892, ../sass/_bootstrap-forms.scss */
.form-horizontal .control-label {
  float: left;
  width: 160px;
  padding-top: 5px;
  text-align: right;
}

/* line 899, ../sass/_bootstrap-forms.scss */
.form-horizontal .controls {
  *display: inline-block;
  *padding-left: 20px;
  margin-left: 180px;
  *margin-left: 0;
}

/* line 906, ../sass/_bootstrap-forms.scss */
.form-horizontal .controls:first-child {
  *padding-left: 180px;
}

/* line 910, ../sass/_bootstrap-forms.scss */
.form-horizontal .help-block {
  margin-bottom: 0;
}

/* line 916, ../sass/_bootstrap-forms.scss */
.form-horizontal input + .help-block,
.form-horizontal select + .help-block,
.form-horizontal textarea + .help-block {
  margin-top: 10px;
}

/* line 920, ../sass/_bootstrap-forms.scss */
.form-horizontal .form-actions {
  padding-left: 180px;
}

/* line 24, ../sass/screen.scss */
body {
  background: white;
  font-family: "proxima-nova", "Helvetica Neue", Arial, sans-serif;
  color: #4a4a4a;
  font-weight: 300;
}

/* line 31, ../sass/screen.scss */
.container {
  width: 940px;
  margin: 0 auto;
}

/* line 35, ../sass/screen.scss */
.body {
  background: #fdfdfd;
  border: 1px solid #e0dbd8;
  -webkit-box-shadow: inset 0 0 84px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 0 84px 0 rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 84px 0 rgba(0, 0, 0, 0.1);
  padding: 40px;
}

/* line 38, ../sass/screen.scss */
#feature {
  background: #fdfdfd;
  border: 1px solid #e0dbd8;
  -webkit-box-shadow: inset 0 0 84px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 0 84px 0 rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 84px 0 rgba(0, 0, 0, 0.1);
  padding: 40px;
}

/* line 41, ../sass/screen.scss */
#feature.container {
  width: 970px;
  margin: 0 auto;
  font-size: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

/* line 51, ../sass/screen.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: 800;
  color: #7a7eb4;
}

/* line 55, ../sass/screen.scss */
h2 {
  font-size: 26px;
  margin-bottom: 30px;
}
/* line 58, ../sass/screen.scss */
h2.big {
  font-size: 46px;
  line-height: 58px;
  margin-bottom: 0;
}

/* line 64, ../sass/screen.scss */
h3 {
  font-size: 26px;
  margin-bottom: 15px;
}

/* line 68, ../sass/screen.scss */
ul {
  list-style: disc;
  margin-left: 20px;
  padding-left: 20px;
  margin-bottom: 1.3em;
}
/* line 73, ../sass/screen.scss */
ul li {
  margin-bottom: 0.7em;
}

/* line 77, ../sass/screen.scss */
a {
  text-decoration: none;
}

/* line 80, ../sass/screen.scss */
p {
  margin-bottom: 1em;
}

/* line 87, ../sass/screen.scss */
.button {
  color: white;
  font-weight: 800;
  background: #54af46;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #92d26a), color-stop(5%, #80cb51), color-stop(100%, #54af46));
  background-image: -webkit-linear-gradient(#92d26a, #80cb51 5%, #54af46);
  background-image: -moz-linear-gradient(#92d26a, #80cb51 5%, #54af46);
  background-image: -o-linear-gradient(#92d26a, #80cb51 5%, #54af46);
  background-image: linear-gradient(#92d26a, #80cb51 5%, #54af46);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #7ab756;
  text-shadow: rgba(0, 0, 0, 0.4) 0 1px 1px;
  display: inline-block;
}
/* line 96, ../sass/screen.scss */
.button:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #92d26a), color-stop(100%, #80cb51));
  background-image: -webkit-linear-gradient(#92d26a, #80cb51);
  background-image: -moz-linear-gradient(#92d26a, #80cb51);
  background-image: -o-linear-gradient(#92d26a, #80cb51);
  background-image: linear-gradient(#92d26a, #80cb51);
}
/* line 99, ../sass/screen.scss */
.button.big {
  font-size: 20px;
  padding: 15px 50px;
}
/* line 103, ../sass/screen.scss */
.button.small {
  padding: 4px 18px;
}

/* line 107, ../sass/screen.scss */
input.error {
  border: 1px solid #b94a48;
  color: #b94a48;
}

/* line 111, ../sass/screen.scss */
.error {
  color: #b94a48;
}

/* line 114, ../sass/screen.scss */
.control-group {
  margin-bottom: 0;
}

/* line 121, ../sass/screen.scss */
h1 {
  background: url(../images/h1.png);
  width: 298px;
  height: 42px;
  margin: 35px auto;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/* line 129, ../sass/screen.scss */
body.home h2 {
  font-size: 46px;
  line-height: 48px;
}
/* line 133, ../sass/screen.scss */
body.home #feature {
  width: 530px;
  position: relative;
  padding-left: 470px;
  padding-bottom: 90px;
}
/* line 138, ../sass/screen.scss */
body.home #feature:before {
  content: "";
  position: absolute;
  background: url(../images/globe.png);
  width: 390px;
  height: 342px;
  left: 50px;
  top: 40px;
}

/* line 145, ../sass/screen.scss */
#how-it-works {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin-top: -40px;
  margin-bottom: 40px;
}
/* line 152, ../sass/screen.scss */
#how-it-works > li {
  width: 264px;
  float: left;
  border: 1px solid #e0dbd8;
  background: #fef3ed;
  padding: 230px 20px 20px 20px;
  position: relative;
  min-height: 165px;
}
/* line 160, ../sass/screen.scss */
#how-it-works > li#create, #how-it-works > li#select {
  margin-right: 10px;
}
/* line 163, ../sass/screen.scss */
#how-it-works > li#create {
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
/* line 165, ../sass/screen.scss */
#how-it-works > li#create:before {
  content: "";
  position: absolute;
  width: 273px;
  height: 207px;
  top: 16px;
  left: 20px;
  background: url(../images/create.png);
}
/* line 175, ../sass/screen.scss */
#how-it-works > li#select:before {
  content: "";
  position: absolute;
  width: 271px;
  height: 204px;
  top: 14px;
  left: 20px;
  background: url(../images/select.png);
}
/* line 184, ../sass/screen.scss */
#how-it-works > li#monitor {
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
/* line 186, ../sass/screen.scss */
#how-it-works > li#monitor:before {
  content: "";
  position: absolute;
  width: 253px;
  height: 196px;
  top: 16px;
  left: 23px;
  background: url(../images/monitor.png);
}
/* line 195, ../sass/screen.scss */
#how-it-works > li h3 {
  text-align: center;
}
/* line 198, ../sass/screen.scss */
#how-it-works > li ul {
  margin-left: 15px;
  margin-bottom: 0;
}

/* line 210, ../sass/screen.scss */
.body#sign-up .container {
  width: 350px;
  padding-left: 570px;
  position: relative;
  min-height: 350px;
}
/* line 215, ../sass/screen.scss */
.body#sign-up .container:before {
  content: "";
  position: absolute;
  background: url(../images/globe.png);
  width: 390px;
  height: 342px;
  left: 120px;
  top: 0;
}
/* line 221, ../sass/screen.scss */
.body#sign-up .container.success p {
  width: 280px;
}
/* line 230, ../sass/screen.scss */
.body#sign-up form label {
  display: none;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/* line 5, ../sass/_helper.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}

/* line 12, ../sass/_helper.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
}

/* line 19, ../sass/_helper.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 24, ../sass/_helper.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 36, ../sass/_helper.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 45, ../sass/_helper.scss */
.invisible {
  visibility: hidden;
}

/* line 50, ../sass/_helper.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

/* line 55, ../sass/_helper.scss */
.clearfix:after {
  clear: both;
}

/* line 59, ../sass/_helper.scss */
.clearfix {
  *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  /* line 6, ../sass/_print.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 14, ../sass/_print.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 18, ../sass/_print.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 22, ../sass/_print.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */
  /* line 32, ../sass/_print.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 37, ../sass/_print.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 42, ../sass/_print.scss */
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  /* line 47, ../sass/_print.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 51, ../sass/_print.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 61, ../sass/_print.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 67, ../sass/_print.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
